name: Build and Publish

on:
  workflow_dispatch:
    inputs:
      schema:
        type: choice
        description: tests, test-pypi, pypi
        required: true
        default: "tests"
        options:
          - "tests"
          - "test-pypi"
          - "pypi"

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      #--------------------------------------------------------------------
      # PRINT INPUTS
      #--------------------------------------------------------------------
      - run: echo schema=${{ github.event.inputs.schema }}
      #--------------------------------------------------------------------
      # CHECK OUT CODE
      #--------------------------------------------------------------------
      - name: Check out code
        uses: actions/checkout@v4.0.0
      #--------------------------------------------------------------------
      # INSTALL PYTHON
      #--------------------------------------------------------------------
      - name: Set up Python
        uses: actions/setup-python@v4.7.0
        with:
          python-version: 3.11
      #--------------------------------------------------------------------
      # INSTALL PYTHON DEPENDENCIES
      #--------------------------------------------------------------------
      - name: Install build dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build
      #--------------------------------------------------------------------
      # BUILD PACKAGE
      #--------------------------------------------------------------------
      - name: Build package
        run: python -m build --sdist --wheel . --outdir dist/
      #--------------------------------------------------------------------
      # UPLOAD TO TEST PYPI
      #--------------------------------------------------------------------
      - name: Publish to Test PyPI
        if: github.event.inputs.schema == 'test-pypi'
        uses: pypa/gh-action-pypi-publish@v1.8.10
        with:
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository-url: https://test.pypi.org/legacy/
      #--------------------------------------------------------------------
      # UPLOAD TO PYPI
      #--------------------------------------------------------------------
      - name: Publish to PyPI
        if: github.event.inputs.schema == 'pypi'
        uses: pypa/gh-action-pypi-publish@v1.8.10
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
      #--------------------------------------------------------------------